.btCustomCarousel {
    position: relative;
    background: #fff;
    padding: 20px;
}

@media only screen and (max-width: 766px) {
.btCustomCarousel {
    position: relative;
    background: #fff;
    padding-top: 50px;
}
}

.btCustomCarousel>.container {
    position: relative;
    z-index: 1;
	padding-top: 0px;
}

.btCustomCarousel:after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 32%;
    content: '';
    z-index: 0;
}

.btCustomCarousel .carousel-indicators {
    position: static;
    width: auto;
    margin: 0 0 0px 0;
    text-align: left;
    width: 100%;
    float: left;
}

.btCustomCarousel .carousel-indicators li {
    text-indent: 0;
    width: 110px;
    height: 110px;
    background: #e7e7e7;
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btCustomCarousel .carousel-indicators li i {
    font-size: 38px;
    display: block;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.4);
    line-height: 70px;
    margin: 7px auto 10px;
    border-radius: 100px;
    color: #797979;
     -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btCustomCarousel .carousel-indicators li.active {
    background: #cecece;
    color: #fff;
}

.btCustomCarousel .carousel-indicators li.active i {
    color: #fff;
    background: #2d0031;
}

.btCustomCarousel .carousel-control {
    background: #02e4b1;
    position: static;
    opacity: 1;
    padding: 10px 15px;
    margin-right: 15px;
}

.carouselSliderItems {
    text-align: center;
}

.carouselSliderItems img {}

.carouselSliderItems .carousel-inner {
    position: absolute;
    top: 61px;
    width: 280px;
    left: 50%;
    height: 470px;
    margin-left: -140px;
}

.sliderTableContent {
    display: table;
    width: 100%;
    height: 470px;
    padding: 15px;
}

.sliderTableRow {
    display: table-row;
}

.sliderTableCell {
    display: table-cell;
    vertical-align: middle;
}

.itemIcon {
    color: #fff;
    background: #2d0031;
    font-size: 48px;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    
    -webkit-animation-delay: 0.5s;
    
    animation-delay: 0.5s;
}

.section-intro {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.section-intro:after {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #02e4b1;
    width: 100px;
    height: 2px;
    content: '';
}

.section-intro h2 {
    font-weight: 900;
    font-size: 36px;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .carouselSliderItems {
        margin-top: 120px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .btCustomCarousel .carousel-indicators li {
        margin: 0;
    }
    .carouselSliderItems {
        margin-top: 120px;
    }
    .carouselSliderItems .carousel-inner {
        margin-left: -129px;
    }
}

@media (max-width: 767px) {
    .btCustomCarousel:after {
        display: none;
    }
    .btCustomCarousel {
        text-align: center;
    }
    .section-intro:after {
        left: 50%;
        margin-left: -50px;
    }
    .btCustomCarousel .carousel-indicators {
        white-space: nowrap;
        overflow: auto;
    }
    .btCustomCarousel .carousel-indicators li {
        float: none;
		margin-right: 0px;
		margin-bottom: 0px;
    }
    .btCustomCarousel .carousel-control {
        display: none;
    }
    .carouselSliderItems {
        float: left;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .carouselSliderItems img {
        display: none;
    }
    .sliderTableContent,
    .carouselSliderItems .carousel-inner {
        height: auto;
        position: relative;
    }
    .carouselSliderItems .carousel-inner {
        top: 0;
    }
}
