@charset "UTF-8";*{box-sizing:border-box;-moz-box-sizing:border-box}

html{
	font-size:62.5%;height:100%
	}

body{
	font-size:14px;
	font-family:'Roboto',sans-serif;
	color:#8492a6;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
	}

p{
	font-family:'Roboto',sans-serif;
	color:#2d0031;font-size:14px
}
label{
	font-family:'Roboto',sans-serif;
	color:#8492a6;font-size:14px
	}

h1,h2,h3,h4,h5,h6{
	font-family:'Roboto',sans-serif;
	color:#2d0031
	}

a{
	color:#2d0031;
	transition:.2s;
	text-decoration:none
}
a:hover{
	color:#008e79;transition:.2s
	}

hr{
	border:0;
	height:1px;
	color:rgba(0,0,0,0.1);
	background-color:rgba(0,0,0,0.1)
	}

input[type="text"],input[type="password"]{
	border-radius:4px;
	border:1px solid rgba(0,0,0,0.2);
	color:#58595f;
	box-shadow:none;height:3rem;outline:0
	}

input[type="text"]:hover,input[type="password"]:hover{
	box-shadow:none
	}

input[type="text"]:focus,input[type="password"]:focus{
	box-shadow:none;border:solid 1px #00c3ad
	}

button:focus{outline:0}::-webkit-input-placeholder{color:rgba(56,56,60,0.4)}:-moz-placeholder{color:rgba(56,56,60,0.4);opacity:1}::-moz-placeholder{color:rgba(56,56,60,1);opacity:.4}:-ms-input-placeholder{color:rgba(56,56,60,0.4)}::-ms-input-placeholder{color:rgba(56,56,60,0.4)}

@-webkit-keyframes autofill{
	to{color:#58595f;background:#FFF}
	}

input:-webkit-autofill{-webkit-animation-name:autofill;-webkit-animation-fill-mode:both}.main-container{display:table;width:100%;height:100%}.content{display:table-cell;height:100%;background-color:#eff2f7;text-align:right;vertical-align:top;color:#FFF}@media screen and (max-width:480px){.content{display:block;overflow:auto;text-align:center}}.sidebar{display:table-cell;width:160px;height:100%;padding:70px 80px;background-color:#FFF}@media screen and (max-width:480px){.sidebar{display:block;width:100%;padding:40px 40px}}

.sidebar-large{
	display:table-cell;
	width:500px;
	height:100%;
	padding:30px 80px;
	background-color:#FFF}
	
.sidebar-large1{
	display:table-cell;
	width:500px;
	height:100%;
	padding:100px 80px;
	background-color:#FFF}
@media screen and (max-width:480px){
	.sidebar-large{display:block;width:100%;padding:40px 40px}
	.sidebar-large1{display:block;width:100%;padding: 40px 10px;}
	}

.hero-login{height:100%}

@media screen and (max-width:480px){.hero-login{padding:40px 40px}}.intro-title{font-size:18px;margin-bottom:0;color:#2d0031;}

.intro-summary{
	color:#2d0031;
	margin-top:5px;
	margin-bottom: 30px;
	font-size:97%}
	
.quote{width:450px;color:#FFF;font-size:16px;bottom:0;right:0;margin:50px 80px 80px 0;position:absolute}@media screen and (max-width:480px){.quote{width:100%;float:left;position:relative}}.help-call{padding-top:15px;margin-right:70px}@media screen and (max-width:480px){.help-call{margin-right:0}}.help-call p{color:#FFF;display:inline-block;margin-right:8px}@media screen and (max-width:480px){.help-call{margin-right:0}}.button-outline{color:#FFF;background:transparent;border:2px solid #FFF;border-radius:40px;padding:5px 25px;display:inline-block;font-weight:bold}.button-outline:hover{color:#2d0031;background:#FFF}.button-outline a{color:#FFF}.button-outline a:hover{color:#FFF}.text-center{text-align:center}.color-text{color:#8492a6}.color-primary{color:#2d0031}.button{border:0;border-radius:4px;outline:0;cursor:pointer}.button{color:white;border:2px solid rgba(255,255,255,0.1);border-radius:5px;background:#2d0031}.button:hover{color:#FFF;border:2px solid #00c3ad;background:#00c3ad}.button a:hover,.button a:focus{color:#FFF;border:2px solid #00c3ad;background:#00c3ad}.button:focus{color:#FFF;border:2px solid #00c3ad;background:#00c3ad}.button-circle{background:#FFF;width:50px;height:50px;margin-top:10px;display:inline-block;border-radius:50%}.button-circle svg path{fill:#2d0031}@media screen and (max-width:480px){.button-circle{background:#FFF;margin-left:5px}.button-circle:hover{background:#f2f2f2}}.user-access{text-align:center}

.user-access input:not([type=checkbox]):not([type=radio]){
	width:100%;
	height:40px;
	font-size:14px;
	margin-top:8px;
	border-radius:4px;
	outline:0;
	padding:5px 5px;
	transition:background-color .2s ease}

.user-access input[type="submit"],.user-access input[type="button"]{
	color:white;
	border:2px solid rgba(255,255,255,0.1);
	border-radius:5px;background:#2d0031;
	cursor:pointer;
	font-weight:bold}

.user-access input[type="submit"]:hover,.user-access input[type="button"]:hover{
	color:white;
	border:2px solid rgba(255,255,255,0.1);
	border-radius:5px;background:#49014f}
	
.user-access select{
	width:100%;
	height:40px;
	background-color:white;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:4px;
	display:block;
	padding:4px;
	margin-top:8px;
	font-size:14px;
	color:rgba(56,56,60,0.4);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	cursor:pointer}

.user-access select{
	background-image:linear-gradient(45deg,transparent 50%,gray 50%),linear-gradient(135deg,gray 50%,transparent 50%),linear-gradient(to right,#f2f2f2,#f2f2f2);
	background-position:calc(100% - 20px) calc(1em - -2px),calc(100% - 15px) calc(1em - -2px),calc(100% - 2.5em) .5em;
	background-size:5px 5px,5px 5px,1px 1.5em;
	background-repeat:no-repeat}

.user-access select:focus{
	border-color:#00c3ad;
	outline:0}

.user-access select:-moz-focusring{
	color:transparent;
	text-shadow:0 0 0 #000}

.coupon-link{text-align:left;font-size:90%;margin-top:15px}.input-wrapper{position:relative}.user-access span.close{width:28px;height:28px;cursor:pointer;display:block;color:#8492a6;font-size:18px;line-height:25px;background:#FFF;padding:0 5px;border-radius:50%;border:1px solid rgba(0,0,0,0.2);transition:all .2s ease;position:absolute;right:11px;top:11px;margin-top:15px}.user-access span.close:hover{color:#8492a6;background:#f7f7f7;border:1px solid rgba(0,0,0,0.2)}.terms{margin-top:15px;font-size:80%}.user-access .error-messages{background:0;font-size:85%;margin:0;color:#e7515c;background:#fff2f3;padding:5px}.user-access .error-messages ul{padding-left:0}.user-access .errors{list-style:none;color:#e7515c;margin:0}.error-messages ul,.errors{list-style-type:none}.user-access .error{color:#e7515c;background:#fff2f3;padding:5px;font-size:85%}.user-access .referer-info{font-size:90%}.user-access .referer-info p{font-size:90%}.user-access .referer-logo{margin-top:15px}.user-access .hidden{display:none}.bg-cover{background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important}@media screen and (max-width:480px){.register-quote{margin-top:190px}}.slideshow{position:relative}.slideshow-list{position:relative;overflow:hidden}.slideshow-item{visibility:hidden;position:absolute;top:0;left:0;width:100%;height:100vh}@media screen and (max-width:480px){.slideshow-item{height:100vh;padding:40px 80px}}.slideshow-item-current{visibility:visible;position:relative}.slideshow-fade .slideshow-item-hidePrevious,.slideshow-fade .slideshow-item-hideNext{visibility:visible;-webkit-animation:fadeOut 750ms cubic-bezier(0.455,0.03,0.515,0.955) both;-moz-animation:fadeOut 750ms cubic-bezier(0.455,0.03,0.515,0.955) both;-ms-animation:fadeOut 750ms cubic-bezier(0.455,0.03,0.515,0.955) both;animation:fadeOut 750ms cubic-bezier(0.455,0.03,0.515,0.955) both}.slideshow-fade .slideshow-item-hidePrevious,.slideshow-fade .slideshow-item-hideNext{z-index:2}.slideshow-fade .slideshow-item-showPrevious,.slideshow-fade .slideshow-item-showNext{z-index:1}@-webkit-keyframes fadeOut{100%{opacity:0;visibility:hidden}}@-moz-keyframes fadeOut{100%{opacity:0;visibility:hidden}}@-ms-keyframes fadeOut{100%{opacity:0;visibility:hidden}}@keyframes fadeOut{100%{opacity:0;visibility:hidden}}.slideshow-nav{position:absolute;bottom:10%;z-index:9999;margin-left:70px}@media screen and (max-width:480px){}.slideshow-pagination{text-align:center}.slideshow-dot{text-indent:-9999px;border:0;border-radius:50%;width:10px;height:10px;padding:0;margin:5px;background-color:rgba(255,255,255,0.5);-webkit-appearance:none}.slideshow-dot-current{background-color:rgba(255,255,255,1)}#checkbox-image{display:inline-block;width:13px;height:13px;background:url(https://cdn1.alegra.com/js/extjs2/resources/ext-theme-gray/images/form/checkbox.gif) -39px 0 no-repeat;vertical-align:bottom;margin-bottom:10px}#checkbox-image.checked{background:url(https://cdn1.alegra.com/js/extjs2/resources/ext-theme-gray/images/form/checkbox.gif) 0 -26px no-repeat}

.logo img{
	height: 65px;
}